<%- include('partials/header.ejs'); -%>


<h1 class="p-5 title">Product Inventory</h1>

<% if (data.length > 0) { %>
    <table>
        <tr id="tableHeader">
            <th>Id</th>
            <th>Product Name</th>
            <th>Category</th>
            <th>Quantity</th>
            <th>Warehouse</th>
            <th>Manufacturing Date</th>
            <th>Product Cost</th>
            <th id="edit">Edit/Delete</th>
          </tr>
        <% data.forEach(result => { %>
            <form>
                <input type="hidden" name="id" value="<%= result.id %>">
                <tr id="tableDetails">
                        <th id="<%= result.id %>" name="<%= result.id %>"><%= result.id %></th>
                        <th id="<%= result.id %>" name="<%= result.id %>"><%= result.product_name %></th>
                        <th id="<%= result.id %>" name="<%= result.id %>"><%= result.category %></th>
                        <th id="<%= result.id %>" name="<%= result.id %>"><%= result.quantity %></th>
                        <th id="<%= result.id %>" name="<%= result.id %>"><%= result.warehouse %></th>
                        <th id="<%= result.id %>" name="<%= result.id %>"><%= result.manufacturing_date %></th>
                        <th id="<%= result.id %>" name="<%= result.id %>"><%= result.product_cost %></th>
                        <th class="m-2">
                            <button><a href="/product/<%= result.id %>">📝</a></button>
                            <button id="<%= result.id %>" onclick="deleteProduct(event)">❌</button>
                        </th>
                </tr>
            </form>
       
        <% }) %> 
        </table>
<% } else { %>
    <h3>No data</h3>
<% } %>

<!-- <input type="submit"/> -->

<%- include('partials/footer.ejs'); -%>