<%- include('partials/header'); -%>

<h1>Product Info</h1>
<div class="current-info">
    <h3>Product Name: <%= result.product_name %></h3>
    <h4>ID Number: <%= result.id %></h4>

    <h5>Category:</h5><p><%= result.category %></p>
    <h5>Warehouse:</h5><p><%= result.warehouse %></p>
    <h5>Date:</h5><p><%= result.manufacturing_date %></p>
    <h5>Quantity:</h5><p><%= result.quantity %></p>
    <h5>Cost:</h5><p><%= result.product_cost %></p>

</div>
<div class="new-info">
    <h2>Update Info</h2>
    <form action="/update-inventory" method="post">
        <label for="productName">Update Product Info:</label>
        <input type="text" id="productName" name="productName" value="<%= result.product_name %>">
        <input type="hidden" name="id" value="<%= result.id %>">
        <input type="submit" />

    </form>

</div>

<%- include('partials/footer'); -%>